
@keyframes showing {
    from {opacity: 0;}
    to {opacity: 1;}
}


.innerImagesDiv img:not(.deleteInnerImage) {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

}

.innerImagesDiv iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.innerImageInfo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    background: rgba(255, 255, 255, 0.7);
}

.innerImageInfo p {
    margin: 1px;
    width: 110px;
    font-weight: bold;
}

.sliderNum {
    position: absolute;
    right: 0;
    bottom: -10px;
}

.readyButton {
    width: 85px;
    height: 85px;
    right: 10px;
    top: 10px;

}

.readyButton:hover {
    cursor: pointer;
}

.readyButton span {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
}
